<div class="jumbotron jumbotron-fluid jumbotron--has-toolbar jumbotron--job-room"
     style="background-image: url('/styleguide/images/bg-jobroom.jpg');">

  <app-toolbar>
    <app-toolbar-title>Job-Room bietet Leistungen für</app-toolbar-title>
    <app-toolbar-item [icon]="'binoculars'" [active]="toolbar == Toolbar.Jobs" (select)="select(Toolbar.Jobs)">
      Stellensuchende
    </app-toolbar-item>
    <app-toolbar-item [icon]="'building'" [active]="toolbar == Toolbar.JobOffers" (select)="select(Toolbar.JobOffers)">
      Unternehmen
    </app-toolbar-item>
    <app-toolbar-item [icon]="'eye'" [active]="toolbar == Toolbar.Candidates" (select)="select(Toolbar.Candidates)">
      Arbeitsvermittler
    </app-toolbar-item>
  </app-toolbar>

  <div class="container" [ngSwitch]="toolbar">
    <div id="jobs" *ngSwitchCase="Toolbar.Jobs">
      <h1 class="tool__heading">Finden Sie jetzt Ihren Traumjob!</h1>

      <div class="row">
        <div class="col-sm-4">
          <app-job-search-tool></app-job-search-tool>
        </div>
      </div>
    </div>

    <div id="candidates" *ngSwitchCase="Toolbar.Candidates">
      <div class="row">
        <div class="col-sm-8">

          <ul class="nav nav-tabs nav--job-room" role="tablist">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': tab == Tab.CandidateSearch}"
                 (click)="selectTab(Tab.CandidateSearch)" role="tab" aria-expanded="false">Kandidaten
                finden</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': tab == Tab.JobPublication}" role="tab" aria-expanded="true"
                 (click)="selectTab(Tab.JobPublication)">Job
                publizieren</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content--job-room">
            <div class="tab-content" [ngSwitch]="tab">
              <div class="tab-pane active" role="tabpanel" aria-expanded="false">
                <app-candidate-search-tool *ngSwitchCase="Tab.CandidateSearch"></app-candidate-search-tool>
                <app-job-publication-tool *ngSwitchCase="Tab.JobPublication"></app-job-publication-tool>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
